@model TripUpdateModelGet

@{
    ViewData["Title"] = "Изменить данные рейса";
}

<div>
    <h3>Форма изменения данных рейса</h3>
    <p>Для изменения данных заполните следующие поля:</p>
    <form method="post">
        <table>
            <tr>
                <td>Откуда:</td>
                <td>

                    <select asp-for="Trip.FromCityId">
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </td>
                <td>Куда:</td>
                <td>
                    <select asp-for="Trip.ToCityId">
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Время:</td>
                <td>
                    <input type="text" name="Time" value="@Model.Trip.Time"/>
                </td>
            </tr>
            <tr>
                <td>Водитель:</td>
                <td>
                    <select asp-for="Trip.DriverId">
                        @foreach (var driver in Model.Drivers)
                        {
                            <option value="@driver.Id">@driver.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Автомобиль:</td>
                <td>
                    <select asp-for="Trip.CarId">
                        @foreach (var car in Model.Cars)
                        {
                            <option value="@car.Id">@car.Model</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Сохранить"/>
                </td><td></td>
            </tr>
        </table>
    </form>

</div>